.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: end;
    text-align: center;
    margin: 92px 24px 92px 24px;
}
.header-logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 142px;
}
.header-menu-roster {
    display: flex;
    gap: 30px;
    list-style-type: circle;
    font-weight: 400;
    font-size: 18px;
    margin-right: 48px;
    margin-top: 5px;
}   
.header-menu-link {
    white-space: nowrap;
}
.header-menu-decoration {
    list-style-type: none;
}
.header-info {
    margin-right: 65px;
}
.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Raleway,sans-serif;
    line-height: 24.3px;
}
.header-info-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
}
.header-info-text {
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
}
.cover {
    background-image: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)),url('../images/cover.jpg');
    min-height: 757px;
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
}   
/* не получается через оверлей*/
.cover-title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color:white;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100px;
    padding: 165px 50px 135px;
}
.aligned-text {
    display: block;
    letter-spacing: 30px;
    text-align: left;
}
.aligned-text-center {
    text-align: center;
    line-height: 140%;
}
.aligned-text-right {
    text-align: right;
    line-height: 100%;
}
.no-letter-spacing {
    letter-spacing: initial;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.cover-description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: Raleway, sans-serif;
    align-items: center;
    margin-bottom: 50px;
}
.cover-description-text {
    text-transform: uppercase;
    margin-left: 78px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    word-spacing: 18px;
}
.bet-button {
    display: block;
    text-transform: uppercase ;
    margin-right: 50px;
    width: 256px;
    height: 51px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(0,0,0,0);
    color: white;
    font-family: Raleway,sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
}   
.lots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1052px;
    gap: 25px;
    margin-top: 179px;
    margin-left: 24px;
}
.card-type-film {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-01.jpg');
}
.card-title {
    display: block;
    font-family: Raleway, sans-serif;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    width: 254px;
    height: auto;
    max-height: none;
    gap: 0px;
    margin-left: 40px;
    margin-top: 17px;
}
.card-text {
    display: inline-block;
    font-family: Raleway,sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    width: 254px;
    height: auto;
    max-height: none;
    margin-left: 40px;
    margin-right: 40px;
}
.text {
    padding-top: 245px;
}
.text-picture {
    padding-top: 100px;
}
.lots-heading {
    text-align: left;
    width: 100%;
    margin-left: 42px;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
}
.card-type-book {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-02.jpg');
}
.card-type-picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-03.jpg');
}
.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 334px;
    min-height: 563px;
    padding-top: 30px;
}
.loots-look-more-link {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    margin-right: 785px;
    margin-top: 8px;
}
.lots-card-link {
    color: white;
}
.about {
    width: 1052px;
}
.grid {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 10px;
}
.about-logo {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-left: 71px;
    margin-top: 179px;
    border-radius: 50%;
}
.about-logo-image {
    width: 148px;
    height: 100%;
}
.about-title {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    width: 291px;
    margin-left: 40px;
    margin-top: 190px;
}
.about-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 693px;
    gap: 0px;
    font-family: Raleway,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
}
.text-about-final {
    margin-top: 23px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 0px;
    border: 1px 0px;
    padding: 180px 50px 88px 50px;
}
.footer-menu-roster {
    list-style-type: none;
    text-align: center;
    margin-top: 3px;
    width: 149px;
    gap: 0px;
    border: 1px 0px;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-left: 40px;
}
.footer-social-list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 48px;
}
.footer-social-icon {
    width: 48px;
    height: 48px;
    border: 1px 0px;
}
.footer-social-list-item {
    display: flex;
    gap: 48px;
}